<div class="container">
 


      <div class="sidenav">
          <div class="login-main-text">
             <h1>¡YA!<br> Seguros</h1>
             <p>Diligencie los Campos para Tener Acceso.</p>
          </div>
       </div>
       <div class="main">
          <div class="col-md-6 col-sm-12">
             <div class="login-form">
                <form>
                  <img src="" alt="">
                   <div class="form-group">
                      <label>User Name</label>
                      <input type="text" class="form-control" placeholder="User Name">
                   </div>
                   <div class="form-group">
                      <label>Password</label>
                      <input type="password" class="form-control" placeholder="Password">
                   </div>
                   <button type="button" class="btn btn-black" [routerLink]="['/acount']">Registrarme</button>

                   <button type="submit" class="btn btn-black">Login</button>
                  
                </form>
             </div>
          </div>
       </div>
  </div>


<router-outlet><router-outlet></router-outlet> </router-outlet>
