
<nav class="heading">
    <h1 class="title">FastLife</h1>
   <input type="checkbox" id="btn-menu">
   <label for="btn-menu"><img src="assets/menu.png"></label>
   
<ul class="list">
  
  <li class="links">Informacion</li>
  <li class="links">Mision</li>
  <li class="links">Somos YAseguros</li>
  <li class="links">Contactenos</li>
</ul>
</nav>


<section>
<h1 class="card2">Conoce mas</h1>
  <p>

    Ayudaremos a proteger a los que mas  amas seguro y simple
  </p>

  <h2>Simple</h2>
  <p>Olvidate de los papeleos y de las confusiones ala hora de adquirir un seguro

    
  </p>

  <h2>Seguro</h2>
  <p>Te ofrecemos tu seguro de vida en linea</p>
  <h2>¿Quienes Somos?</h2>

  <p>Somos FastLife una compañia digital,estamos Conformados por un equipo joven
     Con la motivacion de cambiar la industria de los seguros 
     Queremos protegerte a ti y a tu familiacontra cualquier riesgo que se presente en la vida.

  </p>


  <h1 class="Card-3">Debes Saber Esto de Tu Seguro De Vida</h1>
  <p class="Card-3">
    edad pra adquirir tu seguro de vida desde los 18 hasta los 65 años
    entre mas  joven mas barato tiende a ser tu seguro.
    Recuerda:
    Cuando tienes a alguien que depende de ti ,obtener un seguro de vida
  </p>
</section>

<footer>

</footer>